

* {
    margin: 0;
    padding: 0;
}

.each-blog{
    justify-content: center;
    background-image: none;
    background-color: white;
    width: 20vw;
    border-radius: 14px;
}

.blog-title {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: none;
    background-color: white;
    border: solid white 1px;
    border-radius: 14px;
}

.blog-content {
    text-align: center;
    background-image: none;
    background-color: white;
    padding: 10px;
    border: solid white 1px;
    border-radius: 14px;
}