.blog{
    background-image: none;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(255, 249, 249, 0);
}

.each-blog{
    display: flex;
    justify-content: center;
    border: solid black 1px;
    background-image: none;
    background-color: white;
    width: 20vw;

}

h1, P {
    display: block;
    justify-content: center;
    background-image: none;
    background-color: white;
}