.createBlog{
    background-size: 100% auto;
}
.blog-form{
    justify-content: center;
    width: 50vw;
    background-size: 100% auto;
    margin: auto;
    padding: 0px;
    margin-top: 4vh;
    background-image: none;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(255, 249, 249, 0);
}

.input-title {
    width: 50vw;
    height: 4vh;
    border: black solid 1px;
    border-radius: 5px;
    display: flex;
    margin-bottom: 20px;
    padding: 0px;
    font-size: 100%;
    font: inherit;
    font-family: 'Montserrat';
    background-image: none;
    background-color: white;
}

.input-body {
    width: 50vw;
    height: 50vh;
    border: solid black 1px;
    border-radius: 5px;
    display: flex;
    margin-bottom: 20px;
    padding: 0px;
    font-size: 100%;
    font: inherit;
    font-family: 'Montserrat';
    background-image: none;
    background-color: white;
}

.submit-button {
    border: solid black 1px;
    border-radius: 5px;
    font-family: 'Montserrat';
    background-image: none;
    background-color: white;
}
