.blog-form{
    justify-content: center;
    width: 50vw;
    margin: 0px;
    padding: 0px;
}

.blog-body{
    border: black solid 1px;
    height: 50vh;
    display: flex;
    margin-bottom: 20px;
    padding: 0px;
    font-size: 100%;
    font: inherit;
    justify-content: center;
    align-items: center;
}

.blog-title{
    border: black solid 1px;
    display: flex;
    margin-bottom: 20px;
    padding: 0px;
    font-size: 100%;
    font: inherit;
    justify-content: center;
align-items: center;
}


